### importing necessary libraries

In [1]:
import numpy as np 
import pandas as  pd

In [2]:
data = pd.read_csv('train.csv')
data.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

### Data preprocessing

In [3]:
data.isna().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [4]:
data.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE',
       'LATITUDE', 'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [5]:
data['CITY'] = data['ADDRESS'].str.split(',').str[-1]
data.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),CITY
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,Bangalore
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,Mysore
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,Bangalore
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,Ghaziabad
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,Kolkata

In [6]:
data.drop(['POSTED_BY','BHK_OR_RK','LONGITUDE','LATITUDE','ADDRESS'],inplace = True,axis = 1)

In [7]:
data.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,TARGET(PRICE_IN_LACS),CITY
0,0,0,2,1300.236407,1,1,55.0,Bangalore
1,0,0,2,1275.000000,1,1,51.0,Mysore
2,0,0,2,933.159722,1,1,43.0,Bangalore
3,0,1,2,929.921143,1,1,62.5,Ghaziabad
4,1,0,2,999.009247,0,1,60.5,Kolkata

In [8]:
data.describe()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,TARGET(PRICE_IN_LACS)
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,30000.000000

In [9]:
# data['CITY'] = data['ADDRESS'].str.split(',').str[-1]
data.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,TARGET(PRICE_IN_LACS),CITY
0,0,0,2,1300.236407,1,1,55.0,Bangalore
1,0,0,2,1275.000000,1,1,51.0,Mysore
2,0,0,2,933.159722,1,1,43.0,Bangalore
3,0,1,2,929.921143,1,1,62.5,Ghaziabad
4,1,0,2,999.009247,0,1,60.5,Kolkata

In [10]:
data['CITY'].value_counts()

Bangalore      4340
Lalitpur       2993
Mumbai         2023
Pune           1991
Noida          1767
               ...
Bhadrak           1
Kurukshetra       1
Dibrugarh         1
Sagar             1
Washim            1
Name: CITY, Length: 256, dtype: int64

In [11]:
data['CITY'].unique()

array(['Bangalore', 'Mysore', 'Ghaziabad', 'Kolkata', 'Kochi', 'Jaipur',
       'Mohali', 'Chennai', 'Siliguri', 'Noida', 'Raigad', 'Bhubaneswar',
       'Wardha', 'Pune', 'Mumbai', 'Nagpur', 'Deoghar', 'Bhiwadi',
       'Faridabad', 'Lalitpur', 'Maharashtra', 'Vadodara',
       'Visakhapatnam', 'Vapi', 'Mangalore', 'Aurangabad', 'Ottapalam',
       'Vijayawada', 'Belgaum', 'Bhopal', 'Lucknow', 'Kanpur',
       'Gandhinagar', 'Pondicherry', 'Agra', 'Ranchi', 'Gurgaon', 'Udupi',
       'Indore', 'Jodhpur', 'Coimbatore', 'Valsad', 'Palghar', 'Surat',
       'Varanasi', 'Guwahati', 'Amravati', 'Anand', 'Tirupati',
       'Secunderabad', 'Raipur', 'Vizianagaram', 'Thrissur', 'Satna',
       'Madurai', 'Chandigarh', 'Shimla', 'Gwalior', 'Rajkot', 'Sonipat',
       'Allahabad', 'Berhampur', 'Roorkee', 'Dharuhera', 'Latur',
       'Durgapur', 'Panchkula', 'Solapur', 'Durg', 'Goa', 'Jamshedpur',
       'Hazaribagh', 'Jabalpur', 'Hosur', 'Morbi', 'Hubli', 'Karnal',
       'Patna', 'Bilaspur', 'Ratnagiri', 'Meerut', 'Kotdwara',
       'Jalandhar', 'Amritsar', 'Patiala', 'Ludhiana', 'Alwar', 'Kota',
       'Panaji', 'Kolhapur', 'Ernakulam', 'Bhavnagar', 'Bharuch',
       'Asansol', 'Jhansi', 'Margao', 'Anantapur', 'Eluru', 'Bhilai',
       'Dehradun', 'Guntur', 'Jalgaon', 'Udaipur', 'Gurdaspur',
       'Neemrana', 'Hassan', 'Sindhudurg', 'Hoshangabad', 'Kottayam',
       'Dhanbad', 'Navsari', 'Bahadurgarh', 'Nellore', 'Dhule',
       'Tirunelveli', 'Cuttack', 'Haridwar', 'Nainital', 'Jamnagar',
       'Kanchipuram', 'Kadi', 'Karad', 'Jagdalpur', 'Panipat',
       'Muzaffarpur', 'Salem', 'Jhunjhunu', 'Gandhidham', 'Junagadh',
       'Moradabad', 'Ahmednagar', 'Jalna', 'Bhiwani', 'Palakkad',
       'Kannur', 'Karjat', 'Akola', 'Jind', 'Gaya', 'Ambala', 'Ajmer',
       'Hajipur', 'Dharwad', 'Pudukkottai', 'Kollam', 'Ooty', 'Bhandara',
       'Barabanki', 'Rajpura', 'Palwal', 'Aligarh', 'Erode', 'Rudrapur',
       'Tenali', 'Ongole', 'Nizamabad', 'Puri', 'Dalhousie', 'Siddipet',
       'Solan', 'Darbhanga', 'Kadapa', 'Kakinada', 'Agartala', 'Warangal',
       'Haldwani', 'Osmanabad', 'Bhagalpur', 'Bardhaman', 'Rishikesh',
       'Chandrapur', 'Bokaro', 'Jharsuguda', 'Bhimavaram', 'Kurnool',
       'Amroha', 'Hapur', 'Sabarkantha', 'Harda', 'Ujjain', 'Thoothukudi',
       'Karaikudi', 'Mathura', 'Gadhinglaj', 'Rewari', 'Godhra',
       'Kharagpur', 'Srikakulam', 'Srinagar', 'Midnapore', 'Rayagada',
       'Banswara', 'Shirdi', 'Rohtak', 'Pali', 'Hathras', 'Yavatmal',
       'Balasore', 'Chhindwara', 'Bareilly', 'Vidisha', 'Thanjavur',
       'Kangra', 'Bikaner', 'Rewa', 'Porbandar', 'Nagaur', 'Nanded',
       'Rourkela', 'Nadiad', 'Gulbarga', 'Palanpur', 'Bhadrak',
       'Kurukshetra', 'Dibrugarh', 'Sagar', 'Machilipatnam',
       'Pathanamthitta', 'Bankura', 'Jammu', 'Idukki', 'Korba', 'Raigarh',
       'Silchar', 'Arrah', 'Nagaon', 'Karwar', 'Dahod', 'Nagapattinam',
       'Sikar', 'Angul', 'Baddi', 'Darjeeling', 'Raisen', 'Hoshiarpur',
       'Beed', 'Gadarwara', 'Jajpur', 'Haldia', 'Chittoor', 'Faizabad',
       'Malappuram', 'Betul', 'Surendranagar', 'Phagwara', 'Visnagar',
       'Rajnandgaon', 'Cuddalore', 'Raichur', 'Sambalpur', 'Gondia',
       'Vellore', 'Bharatpur', 'Bhuj', 'Siwan', 'Washim'], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder
labelencoder =  LabelEncoder()

In [13]:
data['CITY'] = labelencoder.fit_transform(data['CITY'])

In [14]:

import pickle
file = open(r"C:\Users\Asus\Documents\house_price_encode.pkl","wb")
pickle.dump(labelencoder,file)

In [15]:
data.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,TARGET(PRICE_IN_LACS),CITY
0,0,0,2,1300.236407,1,1,55.0,21
1,0,0,2,1275.000000,1,1,51.0,160
2,0,0,2,933.159722,1,1,43.0,21
3,0,1,2,929.921143,1,1,62.5,78
4,1,0,2,999.009247,0,1,60.5,134

In [16]:
data.dtypes

UNDER_CONSTRUCTION         int64
RERA                       int64
BHK_NO.                    int64
SQUARE_FT                float64
READY_TO_MOVE              int64
RESALE                     int64
TARGET(PRICE_IN_LACS)    float64
CITY                       int32
dtype: object

In [17]:
x = data.iloc[:,[0,1,2,3,4,5,7]].values
y = data.iloc[:,[6]].values

### Train Test Split

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

### Model Building

In [19]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [20]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=11, random_state=0)
regressor.fit(x_train, y_train)
y_pred1 = regressor.predict(x_test)

C:\Users\Asus\AppData\Local\Temp\ipykernel_7628\3278741887.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train, y_train)

In [21]:

import pickle
file = open(r"C:\Users\Asus\Documents\house_price_model.pkl","wb")
pickle.dump(model,file)

### Model Evalution

In [22]:
from sklearn.metrics import r2_score, mean_squared_error, mean_squared_log_error
print(np.sqrt(mean_squared_log_error(y_test, y_pred)))
print(np.sqrt(mean_squared_error(y_test, y_pred)))
print(r2_score(y_test, y_pred))

0.4935365940666286
190.20450257524573
0.9211868473606908

In [23]:
from sklearn.metrics import r2_score, mean_squared_error, mean_squared_log_error
print(np.sqrt(mean_squared_log_error(y_test, y_pred1)))
print(np.sqrt(mean_squared_error(y_test, y_pred1)))
print(r2_score(y_test, y_pred1))

0.42457706850483734
170.94590378594114
0.9363388454490925

In [24]:
print(y_test)

[[100. ]
 [ 36.5]
 [ 80. ]
 ...
 [ 32. ]
 [ 15. ]
 [ 67.5]]

In [25]:
y_pred1 = y_pred1.reshape(-1,1)
print(y_pred1.reshape(-1,1))

[[56.43636364]
 [35.77272727]
 [53.73636364]
 ...
 [30.95454545]
 [19.63636364]
 [77.66363636]]

In [26]:
data.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,TARGET(PRICE_IN_LACS),CITY
0,0,0,2,1300.236407,1,1,55.0,21
1,0,0,2,1275.000000,1,1,51.0,160
2,0,0,2,933.159722,1,1,43.0,21
3,0,1,2,929.921143,1,1,62.5,78
4,1,0,2,999.009247,0,1,60.5,134

###  Example

In [29]:
sample =np.array([0,1,3,110,1,0,'Mumbai'])
file = open(r"C:\Users\Asus\Documents\house_price_encode.pkl","rb")
encode = pickle.load(file)
d1 = [sample[-1]]
print(d1)
encode_value = encode.transform(d1)
sample[-1] = encode_value[0]
sample = sample.reshape(1,-1)
print(sample)
for i in sample:
    print(type(i))

['Mumbai']
[['0' '1' '3' '110' '1' '0' '158']]
<class 'numpy.ndarray'>

In [28]:
file = open(r"C:\Users\Asus\Documents\house_price_model.pkl","rb")
model = pickle.load(file)
y_pred = model.predict(sample)
print("Price for your home is {} LPA".format(y_pred[0]))

Price for your home is 120.0 LPA